@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suppression de la scrollbar pour un look clean */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  /* Mise à jour ici avec le nouveau vert 950 */
  background-color: #0e2a25; 
  color: #f4f4f4;
  overflow-x: hidden;
}

::selection {
  background: #d4af37;
  color: #0e2a25; /* Le texte sélectionné sera couleur fond */
}